Цель: Провести разведочный анализ данных по датасету.
Скачаем и подключим данные библиотеки для применение обработки и анализа табличных данных.

In [1]:
import pandas as pd
import numpy as np

(- Загрузка датасета)
С помощью функции read_csv происходит подключение/чтение табличной части.

In [13]:
df = pd.read_csv('vgsales_20.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,13368,Gitaroo Man,PS2,2001.0,Misc,THQ,0.02,0.02,0.00,0.01,0.05
1,11518,Shonen Jump's One Piece: Pirates Carnival,GC,2005.0,Misc,Namco Bandai Games,0.06,0.02,0.00,0.00,0.08
2,14741,Pro Evolution Soccer 2017,XOne,2016.0,Sports,Konami Digital Entertainment,0.00,0.02,0.00,0.00,0.03
3,7072,Naruto Shippuden: Ninja Council 4,DS,2007.0,Action,Nintendo,0.09,0.00,0.13,0.01,0.23
4,7124,The Magic School Bus: Oceans,DS,2011.0,Adventure,Scholastic Inc.,0.21,0.00,0.00,0.01,0.23
...,...,...,...,...,...,...,...,...,...,...,...
548,6186,Hot Wheels: Track Attack,DS,2010.0,Racing,THQ,0.18,0.08,0.00,0.02,0.28
549,10786,Ar tonelico: Melody of Elemia,PS2,2006.0,Role-Playing,505 Games,0.00,0.00,0.10,0.00,0.10
550,7594,"Ni Hao, Kai-lan: New Year's Celebration",DS,2009.0,Misc,Take-Two Interactive,0.19,0.00,0.00,0.01,0.20
551,11237,Petz: Saddle Club,PSP,2009.0,Simulation,Ubisoft,0.08,0.00,0.00,0.01,0.09
552,12475,Crazy Chicken Tales,Wii,2009.0,Action,Conspiracy Entertainment,0.06,0.00,0.00,0.00,0.06

(- Просмотр и исследование датасета)
Функция describe оценивает столбцы с числовым типом данных и возвращает статистические данные

In [22]:
df.describe().round(3)

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,553.000,553.000,553.000,553.000,553.000,553.000,553.000
mean,8481.942,2006.280,0.263,0.135,0.066,0.045,0.509
std,4743.759,5.894,0.626,0.389,0.248,0.146,1.156
min,46.000,1980.000,0.000,0.000,0.000,0.000,0.010
25%,4465.000,2003.000,0.000,0.000,0.000,0.000,0.060
50%,8659.000,2007.000,0.080,0.020,0.000,0.010,0.160
75%,12475.000,2010.000,0.240,0.100,0.030,0.040,0.440
max,16510.000,2016.000,7.030,4.880,3.960,2.120,11.900

(- Просмотр и исследование датасета)
Функция info() используется для получения краткого описания фрейма данных

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553 entries, 0 to 552
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          553 non-null    int64
 1   Name          553 non-null    object
 2   Platform      553 non-null    object
 3   Year          546 non-null    float64
 4   Genre         553 non-null    object
 5   Publisher     552 non-null    object
 6   NA_Sales      553 non-null    float64
 7   EU_Sales      553 non-null    float64
 8   JP_Sales      553 non-null    float64
 9   Other_Sales   553 non-null    float64
 10  Global_Sales  553 non-null    float64
dtypes: float64(6), int64(1), object(4)
memory usage: 47.6+ KB

(- Просмотр и исследование датасета)
Метод shape возвращает кортеж, показывающий количество строк и столбцов

In [12]:
df.shape

(553, 9)

(Обработка датасета:
  - Удаление хотя бы одного признака)
  Функция drop удлаяет признак, указанный в параметрах

In [10]:
df = df.drop(columns=['JP_Sales'])
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,Other_Sales,Global_Sales
0,13368,Gitaroo Man,PS2,2001.0,Misc,THQ,0.02,0.01,0.05
1,11518,Shonen Jump's One Piece: Pirates Carnival,GC,2005.0,Misc,Namco Bandai Games,0.06,0.00,0.08
2,14741,Pro Evolution Soccer 2017,XOne,2016.0,Sports,Konami Digital Entertainment,0.00,0.00,0.03
3,7072,Naruto Shippuden: Ninja Council 4,DS,2007.0,Action,Nintendo,0.09,0.01,0.23
4,7124,The Magic School Bus: Oceans,DS,2011.0,Adventure,Scholastic Inc.,0.21,0.01,0.23
...,...,...,...,...,...,...,...,...,...
548,6186,Hot Wheels: Track Attack,DS,2010.0,Racing,THQ,0.18,0.02,0.28
549,10786,Ar tonelico: Melody of Elemia,PS2,2006.0,Role-Playing,505 Games,0.00,0.00,0.10
550,7594,"Ni Hao, Kai-lan: New Year's Celebration",DS,2009.0,Misc,Take-Two Interactive,0.19,0.01,0.20
551,11237,Petz: Saddle Club,PSP,2009.0,Simulation,Ubisoft,0.08,0.01,0.09
552,12475,Crazy Chicken Tales,Wii,2009.0,Action,Conspiracy Entertainment,0.06,0.00,0.06

(Обработка датасета:
  - Замена значений)
  Функция replace возвращает копию строки, в которой все входные значения заменяются определенными значениями.
  Функция mean вычисляет среднее значение набора значений, переданных в столбцах. А вместе с функцией isnull происходит подсчет в процентах пустых значений.

In [15]:
df = df.replace({'Publisher' :np.nan}, 'MMM')

In [18]:
df.isnull().mean()*100

Rank            0.0
Name            0.0
Platform        0.0
Year            0.0
Genre           0.0
Publisher       0.0
NA_Sales        0.0
EU_Sales        0.0
JP_Sales        0.0
Other_Sales     0.0
Global_Sales    0.0
dtype: float64

(Обработка датасета:
  - Использование или описание простейшего подстановщика)
 Параметр strategy=’mean’ заменяет пропущенные значения, используя среднее значение в каждом столбце.
 Параметр missing_values=np.nan указывает какие занчения необходимо заменять.
 Функция fit устанавливает подстановщик под определенный столбец/признак.
 Функция transform применяет подстановку значений в столбце/признаке.

In [17]:
from sklearn.impute import SimpleImputer

simple = SimpleImputer(strategy='mean', missing_values=np.nan)
simple = simple.fit(df[['Year']])
df['Year'] = simple.transform(df[['Year']])

(- Выбрать один признак в качестве целевой переменной и обосновать данный выбор)
Функция sort_values применяется для сортировки датафрейма с разлиными параметрами сортировки.
В обосновании можно сказать, что дата выхода игры прямопрапорционально зависит от продаж, чем новее игра, тем больше вероятность ее приобретения.
Поэтому решил отсортировать именно поэтому целевому признаку, чтобы нагляно увидеть самые старые и новейшие игры.

In [19]:
df.sort_values(by='Year')

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
75,259,Asteroids,2600,1980.0,Shooter,Atari,4.00,0.26,0.00,0.05,4.31
462,5802,Astroblast,2600,1981.0,Action,Mattel Interactive,0.29,0.02,0.00,0.00,0.31
430,4141,Grand Prix,2600,1981.0,Racing,Activision,0.45,0.03,0.00,0.00,0.48
95,3750,Popeye,2600,1982.0,Platform,Parker Bros.,0.50,0.03,0.00,0.01,0.54
200,739,Pro Yakyuu Family Stadium,NES,1986.0,Sports,Namco Bandai Games,0.15,0.00,2.05,0.00,2.20
...,...,...,...,...,...,...,...,...,...,...,...
280,15478,Black Rose Valkyrie,PS4,2016.0,Role-Playing,Idea Factory,0.00,0.00,0.02,0.00,0.02
409,14758,DiRT Rally,PC,2016.0,Racing,Codemasters,0.00,0.03,0.00,0.00,0.03
37,14721,Aegis of Earth: Protonovus Assault,PS3,2016.0,Action,PQube,0.01,0.01,0.00,0.00,0.03
218,14758,DiRT Rally,PC,2016.0,Racing,Codemasters,0.00,0.03,0.00,0.00,0.03
39,12932,Teenage Mutant Ninja Turtles: Mutants in Manha...,PS3,2016.0,Action,Activision,0.01,0.03,0.00,0.01,0.05

In [21]:
df.sort_values(by='Year',ascending=False)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
37,14721,Aegis of Earth: Protonovus Assault,PS3,2016.0,Action,PQube,0.01,0.01,0.00,0.00,0.03
373,14180,Nobunaga's Ambition: Sphere of Influence - Sen...,PS3,2016.0,Misc,Tecmo Koei,0.00,0.00,0.03,0.00,0.03
467,13176,MXGP 2,XOne,2016.0,Racing,Milestone S.r.l.,0.02,0.02,0.00,0.00,0.05
497,13791,Star Ocean 5: Integrity and Faithlessness,PS3,2016.0,Role-Playing,Square Enix,0.00,0.00,0.04,0.00,0.04
156,11169,Lego Star Wars: The Force Awakens,WiiU,2016.0,Action,Warner Bros. Interactive Entertainment,0.04,0.04,0.00,0.01,0.09
...,...,...,...,...,...,...,...,...,...,...,...
200,739,Pro Yakyuu Family Stadium,NES,1986.0,Sports,Namco Bandai Games,0.15,0.00,2.05,0.00,2.20
95,3750,Popeye,2600,1982.0,Platform,Parker Bros.,0.50,0.03,0.00,0.01,0.54
462,5802,Astroblast,2600,1981.0,Action,Mattel Interactive,0.29,0.02,0.00,0.00,0.31
430,4141,Grand Prix,2600,1981.0,Racing,Activision,0.45,0.03,0.00,0.00,0.48
75,259,Asteroids,2600,1980.0,Shooter,Atari,4.00,0.26,0.00,0.05,4.31

Функция value_counts подсчитывает количестов элементов для каждого значения талицы.
Функция unique находит количестов не повторяющихся нигде параметров.

In [29]:

print("Кол-во представителей компаний", df.Publisher.value_counts())

Кол-во представителей компаний Publisher
Activision                      43
Electronic Arts                 40
Ubisoft                         35
Konami Digital Entertainment    33
Namco Bandai Games              26
                                ..
NCSoft                           1
ASCII Entertainment              1
Parker Bros.                     1
Encore                           1
Conspiracy Entertainment         1
Name: count, Length: 134, dtype: int64

In [30]:
print("Кол-во представителей платформ", df.Platform.value_counts())
print("Кол-во уникальных компаний", len(df.Publisher.unique()))

Кол-во представителей платформ Platform
PS2     78
DS      76
Wii     47
PS3     46
PSP     42
X360    40
PS      39
XB      31
PC      28
GBA     26
GC      19
PSV     11
3DS      9
XOne     8
PS4      8
N64      7
NES      7
SNES     7
2600     6
SAT      5
WiiU     4
GB       3
DC       3
GEN      2
WS       1
Name: count, dtype: int64
Кол-во уникальных компаний 134

В ходе исследования было выявлено, что у большинства игр пропущено поле "Year", а в гонке выпуска продукции лидирует Activision. 
Самой популярной платформой также стала PS2 созданная в двухтысячных годах.